<% let name = 'Pauko'; %>
<h1>well let's take a cool drink of water and try again later, <%= name %>
</h1>

<h1>welcome to the different page <%= name %></h1>

<p>
  I wonder about all this ejs stuff, do people still use this? i do want to
  know how to work with a server-rendered front-end framework, so that seems
  to fit the bill here...
  <%= name %>? Are you excited as well?
</p>